@use "../../partials/mixins";
article {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 5px;
}
.img_link {
    :hover {
        -webkit-filter: blur(5px) saturate(1);
        filter: blur(5px) saturate(1);
    }
}
img {
    height: 300px;
    width: 300px;
}

.cart_modifiers {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;


    & button {
        height: 30px;
        aspect-ratio: 1;
        border: none;
        @include mixins.standard_button_style;
        background-color: #8a2846;
        color: #ffe0e9;
        &.visibleBtn {
            display: block;
        }

        &.hiddenBtn {
            display: none;
        }

        &:hover {
            @include mixins.standard_button_style_hover;
        }
    }
}