@use "../../partials/mixins";
@use "../../partials/media";
article {
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-height: 800px;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;

    @include media.xsmall-device;
    @include media.phone;
    @include media.tablet;
    @include media.laptop;
    @include media.desktop;
}
.img_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    :hover {
        -webkit-filter: blur(5px) saturate(1);
        filter: blur(5px) saturate(1);
    }
    // outline: 2px solid green;
    & img {
        width: 95%;
        height: 95%;
        border-radius: 20px;
    }
    
}

.info {
    // outline: 2px solid green;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0px;
}

.cart_modifiers {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;


    & button {
        height: 30px;
        aspect-ratio: 1;
        border: none;
        @include mixins.standard_button_style;
        background-color: #8a2846;
        color: #ffe0e9;
        &.visibleBtn {
            display: block;
        }

        &.hiddenBtn {
            display: none;
        }

        &:hover {
            @include mixins.standard_button_style_hover;
        }
    }
}