@use "../../partials/mixins";

main {
    height: 100%;
}

.page {
    @include mixins.position_under_nav;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    
    & .listing {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 50px;

        & .info_div {
            display: flex;
            flex-flow: column;
            width: 50%;
            gap: 20px;
            & h1 {
                font-size: 50px;
            }
            & h3 {
                font-size: 30px;
            }

            & p {
                font-size: 18px;
            }

            & h4 {
                font-size: 26px;
            }

            .button_div {
                display: flex; 
                gap: 10px;
                justify-content: flex-start;

                & button {
                    height: 40px;
                    width: 80%;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    border-radius: 10px;
                    @include mixins.standard_button_style;
                    background-color: #8a2846;
                    color: #f5cedb;
                    &:hover {
                      filter: blur(1px);
                    }
                }
            }

            
            
        }

        & .variants {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-top: auto;   

            & .variant_link {
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 20px;
            
                &:hover {
                    background-color: #f5cedb;
                }

                &.selected {
                    background-color: #f5cedb;
                }

                &.unselected {
                    background-color: white;
                }
            }

            
            
        }

        & .image_div {
                height: min-content;
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
            & img {
                height: 60vh;
                width: 60vh;
            }
        
        }
    }

    & .more_products {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        // outline: 2px solid blue;
    }
    
    
}

