@use "../../partials/mixins";

main {
    height: 100%;
}

.page {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    
    & .listing {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 50px;

        & .info_div {
            & h1 {
                font-size: 50px;
            }
            & h3 {
                font-size: 30px;
            }

            & p {
                font-size: 18px;
            }

            & h4 {
                font-size: 26px;
            }

            .button_div {
                display: flex; 
                gap: 10px;
                justify-content: flex-start;

                & button {
                    height: 40px;
                    width: 200px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    // border: none;
                    // cursor: pointer;
                    border-radius: 10px;
                    @include mixins.standard_button_style;

                    &:hover {
                       @include mixins.standard_button_style_hover;
                    }
                }
            }

            
            
        }

        & .image_div {
                height: min-content;
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
            & img {
                height: 60vh;
                width: 60vh;
            }
        
        }
    }

    & .more_products {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        // outline: 2px solid blue;
    }
    
    
}

