@use "../../partials/mixins";

.favourites_page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.favourites_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include mixins.position_under_nav;
}