.nav_bar {
    height: fit-content;
    padding: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5cedb;
    position: fixed;
    z-index: 1000;

    & a {
        text-decoration: none;
        color: black;
        &[class="active"] {
            color: #496a0f;
        }
    }

    
   
}