.carousel {
    display: flex;
    flex-flow: row;
    // align-items: center;
    justify-content: space-around;
    gap: 50px;
    height: fit-content;

    & .carousel_button {
        height: 50px;
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border: none;
        padding: 10px;

        &:hover {
            background-color: gray;
            cursor: pointer;
        }
    }
}