@use "../../partials/mixins";
@use "../../partials/media";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel {
   
    @include media.phone_carousel;
    @include media.xsmall_carousel;

    & .not_mobile {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        gap: 50px;
        height: fit-content;
    
    }

    & .mobile {
        display: flex;
        flex-flow: column;
        gap: 10px;
        & .row_btns {
            display: flex;
            flex-flow: row;
            // outline: 2px solid green;
            justify-content: space-between;
        }
    }
}

.buttons_div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
}

.left_btns {
    position: relative;
    
}

.right_btns {
    position: relative;
}

.carousel_button {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px;

    @include mixins.standard_button_style;
    background-color: #8a2846;
    color: #ffe0e9;

    &:hover {
       @include mixins.standard_button_style_hover;
    }
}

