
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 50px;
    height: fit-content;
}

.carousel_button {
    display: flex;
    align-items: center;
    height: 50px;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    padding: 20px;
    border-radius: 10px;

    &:hover {
        background-color: rgb(154, 238, 154);
        cursor: pointer;
    }
}